@charset "utf-8";

/* reset */
body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select { margin:0; padding:0; }
em { font-style:normal; }
li { list-style:none; }
a { text-decoration:none; }
img { border:none; vertical-align:top; }
table { border-collapse:collapse; }
input,textarea { outline:none; }
textarea { resize:none; overflow:auto; }
body { font-size:12px; font-family:"΢���ź�"; margin-bottom:30px; }
/* end reset */

.gradient {
	background:-moz-linear-gradient(top,#FFFFFF,#F8F8F8);
	background:-webkit-linear-gradient(top,#FFFFFF,#F8F8F8);
	background:-ms-linear-gradient(top,#FFFFFF,#F8F8F8);
	background:linear-gradient(top,#FFFFFF,#F8F8F8);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#FFFFFF, endColorstr=#f8f8f8)";
	+background:#fafafa;
}

/* public  */
.clear { zoom:1; }
.clear:after { content:''; display:block; clear:both; }
.fl { float:left; }
.fr { float:right; }

#header, #nav, .content{ width:960px; margin:0 auto; }
#search, .section, .side_ad_border{ border:1px solid #dbdbdb; border-radius:6px; }
.side_ad, .side_section, .side_ad_border, .main_ad{ margin-bottom:10px; }

.triangle_up, .triangle_down_red, .triangle_down_gray { position:absolute; width:0px; height:0px;  overflow:hidden; border-left:4px solid transparent; _border-left:4px solid #fff; border-right:4px solid transparent; _border-right:4px solid #fff;}
.triangle_up { border-bottom:4px solid #ca0309; }
.triangle_down_red {  border-top:4px solid #ca0309; }
.triangle_down_gray {  border-top:4px solid #c4bdbd; }

/* end public*/

/*layout*/
#header { height:30px; border-radius:0 0 6px 6px; }
#nav { height:100px; position:relative; }
#search { width:958px; height:114px; margin:0 auto 10px; background:#fefefe; position:relative; }
.main { width:710px; }
.section { width:318px; padding:0 15px; }
.options { width:350px; height:200px; position:relative; }
.main_ad { border-radius:6px; overflow:hidden; }
.main_wrap { padding-bottom:10px;}
.side { width:240px; }
.side_section { padding:0 12px; height:100px; border-radius:6px; background:#ff0; }
.side_ad { border-radius:6px; overflow:hidden; }
.side_ad_border { width:238px; height:88px; overflow:hidden; }
#footer { width:958px; height:80px; border-radius:6px; background:#f9f9f9; margin:0 auto; }


.options .nav { position:relative; height:34px; z-index:2; }
.options .nav li { width:172px; height:33px; line-height:33px; text-align: center; border-radius:6px 6px 0 0; border:1px solid #dbdbdb; border-bottom:none; position: relative; }
.options .nav .active { width:172px; height:34px; line-height:34px; text-align: center; background:#fff; }
.options .con { width:318px; padding: 0 15px; border-radius:0 0 6px 6px; border:1px solid #dbdbdb; position:absolute; top:34px; left:0; z-index:1;}

#header .city { float:left; padding:5px 0 0 20px; color:#666; }
#header .city a { display:inline-block; border-radius:3px; border:1px solid #dbdbdb; padding:0 7px; height:18px; line-height:18px; background:#fff; color:#999; box-shadow:1px 1px 0 #efefef; }
#header .city a:hover { background:#f1f1f1; }
#header .city .active, #header .city .active:hover{ color:#d60d03; background:#fff; }
#header .link { float:right; padding-right:20px; color:#d5d5d5; word-spacing:4px; }
#header .link a { color:#666; line-height:30px; background:url(../img/header_link_bg.gif) no-repeat 0px 2px; padding-left:21px; }
#header .link a:hover { text-decoration:underline; }
#header .link .ico1 { background-position: 0px 2px; }
#header .link .ico2 {background-position: -94px 2px; }


#nav ul { position:absolute; top:10px; }
#nav li { float:left; }
#nav li a { display:block; width:66px; padding-top:50px; text-align:center;  background:url(../img/nav_bg.png) no-repeat; color:#333; }
#nav li a:hover { text-decoration:underline; color:red; }
#nav h1 { width:223px; height:62px; margin:0 auto; position:relative; top:10px;}
#nav .nav_1 { left:11px; }
#nav .nav_2 { right:11px; }
#nav .bg1{ background-position:0px 0px; }
#nav .bg2{ background-position:-66px 0px; }
#nav .bg3{ background-position:-132px 0px; }
#nav .bg4{ background-position:-198px 0px; }
#nav .bg5{ background-position:-264px 0px; }
#nav .bg6{ background-position:-330px 0px; }
#nav .bg7{ background-position:-396px 0px; }
#nav .bg8{ background-position:-472px 0px; }
#nav .bg9{ background-position:-538px 0px; }
#nav .bg10{ background-position:-604px 0px; }
#nav .bg1:hover{ background-position:0px -70px; }
#nav .bg2:hover{ background-position:-66px -70px; }
#nav .bg3:hover{ background-position:-132px -70px; }
#nav .bg4:hover{ background-position:-198px -70px; }
#nav .bg5:hover{ background-position:-264px -70px; }
#nav .bg6:hover{ background-position:-330px -70px; }
#nav .bg7:hover{ background-position:-396px -70px; }
#nav .bg8:hover{ background-position:-472px -70px; }
#nav .bg9:hover{ background-position:-538px -70px; }
#nav .bg10:hover{ background-position:-604px -70px; }

#search .bar { width:958px; height:64px; border-radius:5px; border:1px solid #c40d0e; background:#e21c01; position:absolute; left:-1px; top:16px; box-shadow:2px 3px 2px #dcdcdc; }
#search .menu{ position:relative; left:226px; top:-27px; }
#search .menu li{ float:left; width:78px; height:25px; text-align:center; font-size:14px; line-height:25px; border-radius:5px 5px 0 0; border:1px solid #f8d0bf; border-bottom:none; background:#fcfcfc; display:inline-block; margin-right:1px; color:#000; cursor:pointer; box-shadow:1px 0 2px rgba(0,0,0,0.15); } 
#search .menu .active{ position:absolute; top:-1px; width:78px; height:27px; background:#e21c01; font-weight:bold; color:#fbfbfb; text-shadow:2px 2px 3px rgba(0,0,0,0.25);} 

#search .form { position:absolute; left:226px; top:36px; z-index:3; }
#search .form .text { width:383px; height:20px; padding:0 10px; background:#fff1ef; color:#ea7a7a; border-radius:3px; border:1px solid #d8a59e; box-shadow:inset 1px 0 2px rgba(0,0,0,0.15); float:left; margin-right:10px; }
#search .form .btn { width:64px; height:26px; background:url(../img/search_img.png) no-repeat -160px 0; border:none;}
#search .img { position:absolute; left:34px; top:-3px; width:160px; height:122px; background:url(../img/search_img.png) no-repeat; z-index:2;}

#search .key_text { width:211px; height:44px; line-height: 22px; color:#fff;  position: absolute; top:26px; right:32px; }
#search .key_text a:hover { text-decoration: underline; }

#search .update { position:absolute; left:226px; top:82px; width:407px; height:30px; background:url("../img/search_img.png") no-repeat -226px 8px;}
#search .update .wrap { width:336px; height:30px; position:relative; left:60px; overflow: hidden; }
#search .update ul { width:336px; position: absolute; top: 0px; left: 0px; } 
#search .update li { height:30px; line-height:30px; }
#search .update a { color:#000; }
#search .update strong { font-weight: normal; color:#c40d0e; }
#search .update span { color: #999;}
#search .triangle_up { top: 8px; right: 0px; }
#search .triangle_down_red { top: 17px; right: 0px; }


.video_title { width:130px; height:42px; font-family: arial; font-size:18px; font-weight: normal; line-height:42px; color:#c40d0e; background:url("../img/video_bg.gif") no-repeat 95px 8px; position: relative; }
.video_title sup { font-family: '宋体'; position: absolute; top: -10px;}
.video_box { margin-bottom: 13px;}
.video .video_list { padding-left: 75px; height: 78px; background:url(../img/video_bg.gif) no-repeat 3px -47px;}
.video .video_list li { width:241px; height:20px; line-height: 20px; padding-left: 16px; background:url("../img/dot.gif") no-repeat 9px 10px; color:#4d4d4d; }
.video .video_list li a:hover { text-decoration: underline; }

.main_title { position: relative; height: 40px; line-height: 40px; }
.main_title strong, .nav li strong { font-family: arial; color:#cc0d13; font-size: 12px;}
.main_title span, .nav li span { font-family: '微软雅黑'; color:#000;  }
.main_title  a { position: absolute; right: 0px; top: 15px; }
.main_title sup { position: absolute; top: -7px; left: 18px;}

.nav .triangle_down_red, .nav .triangle_down_gray { right: 12px; top: 15px;} 


.hot_list { padding-top: 15px; height: 369px; position: relative; }
.hot_list li{ margin-bottom: 6px; width: 318px; height: 108px; background:url(../img/content/hot_list_li_bg.gif); }
.hot_list .img { float: left; width: 106px; height: 86px; position: relative; }
.hot_list .img  .save { position: absolute; width: 42px; height: 43px; right: -10px ; bottom: -10px; }
.hot_list .img a { display: block; width: 104px; height: 84px;} 
.hot_list .img a:hover { border: 1px solid #999; }
.hot_list .text { float: right; width: 190px; }
.hot_list .text h3 { font-size: 12px; color: #bb0d0d; font-family: '微软雅黑'; height: 28px; line-height: 28px;}
.hot_list .text h3:hover { text-decoration: underline; }
.hot_list .text p { color: #6e6e6e; }
.hot_list .more { position: absolute; right: 0px; bottom: 6px; }