@charset "utf-8";

/* reset */
body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select { margin:0; padding:0; }
em { font-style:normal; }
li { list-style:none; }
a { text-decoration:none; }
img { border:none; vertical-align:top; }
table { border-collapse:collapse; }
input,textarea { outline:none; }
textarea { resize:none; overflow:auto; }
body { font-size:12px; font-family:"΢���ź�"; margin-bottom:30px; }
/* end reset */

.gradient {
	background:-moz-linear-gradient(top,#FFFFFF,#F8F8F8);
	background:-webkit-linear-gradient(top,#FFFFFF,#F8F8F8);
	background:-ms-linear-gradient(top,#FFFFFF,#F8F8F8);
	background:linear-gradient(top,#FFFFFF,#F8F8F8);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#FFFFFF, endColorstr=#f8f8f8)";
	+background:#fafafa;
}

/* public  */
.clear { zoom:1; }
.clear:after { content:''; display:block; clear:both; }
.fl { float:left; }
.fr { float:right; }

#header, #nav, .content{ width:960px; margin:0 auto; }
#search, .section, .side_ad_border, .login, .activity, .recommend { border:1px solid #dbdbdb; border-radius:6px; }
.side_ad, .side_section, .side_ad_border, .main_ad{ margin-bottom:10px; }

.triangle_up, .triangle_down_red, .triangle_down_gray { position:absolute; width:0px; height:0px;  overflow:hidden; border-left:4px solid transparent; _border-left:4px solid #fff; border-right:4px solid transparent; _border-right:4px solid #fff;}
.triangle_up { border-bottom:4px solid #ca0309; }
.triangle_down_red {  border-top:4px solid #ca0309; }
.triangle_down_gray {  border-top:4px solid #c4bdbd; }

/* end public*/

/*layout*/
#header { height:30px; border-radius:0 0 6px 6px; }
#nav { height:100px; position:relative; }
#search { width:958px; height:114px; margin:0 auto 10px; background:#fefefe; position:relative; }
.main { width:710px; }
.section { width:318px; padding:0 15px; }
.options { width:350px; height:200px; position:relative; }
.main_ad { border-radius:6px; overflow:hidden; }
.main_wrap { padding-bottom:10px;}
.side { width:240px; }
.side_section { padding:0 12px; border-radius:6px; border:1px solid #dbdbdb; }
.side_ad { border-radius:6px; overflow:hidden; }
.side_ad_border { width:238px; height:88px; overflow:hidden; }
#footer { width:958px; height:80px; border-radius:6px; background:#f9f9f9; margin:0 auto; }


.options .nav { position:relative; height:34px; z-index:2; }
.options .nav li { width:172px; height:33px; line-height:33px; text-align: center; border-radius:6px 6px 0 0; border:1px solid #dbdbdb; border-bottom:none; position: relative; }
.options .nav .active { width:172px; height:34px; line-height:34px; text-align: center; background:#fff; }
.options .con { width:318px; padding: 0 15px; border-radius:0 0 6px 6px; border:1px solid #dbdbdb; position:absolute; top:34px; left:0; z-index:1;}

#header .city { float:left; padding:5px 0 0 20px; color:#666; }
#header .city a { display:inline-block; border-radius:3px; border:1px solid #dbdbdb; padding:0 7px; height:18px; line-height:18px; background:#fff; color:#999; box-shadow:1px 1px 0 #efefef; }
#header .city a:hover { background:#f1f1f1; }
#header .city .active, #header .city .active:hover{ color:#d60d03; background:#fff; }
#header .link { float:right; padding-right:20px; color:#d5d5d5; word-spacing:4px; }
#header .link a { color:#666; line-height:30px; background:url(../img/header_link_bg.gif) no-repeat 0px 2px; padding-left:21px; }
#header .link a:hover { text-decoration:underline; }
#header .link .ico1 { background-position: 0px 2px; }
#header .link .ico2 {background-position: -94px 2px; }


#nav ul { position:absolute; top:10px; }
#nav li { float:left; }
#nav li a { display:block; width:66px; padding-top:50px; text-align:center;  background:url(../img/nav_bg.png) no-repeat; color:#333; }
#nav li a:hover { text-decoration:underline; color:red; }
#nav h1 { width:223px; height:62px; margin:0 auto; position:relative; top:10px;}
#nav .nav_1 { left:11px; }
#nav .nav_2 { right:11px; }
#nav .bg1{ background-position:0px 0px; }
#nav .bg2{ background-position:-66px 0px; }
#nav .bg3{ background-position:-132px 0px; }
#nav .bg4{ background-position:-198px 0px; }
#nav .bg5{ background-position:-264px 0px; }
#nav .bg6{ background-position:-330px 0px; }
#nav .bg7{ background-position:-396px 0px; }
#nav .bg8{ background-position:-472px 0px; }
#nav .bg9{ background-position:-538px 0px; }
#nav .bg10{ background-position:-604px 0px; }
#nav .bg1:hover{ background-position:0px -70px; }
#nav .bg2:hover{ background-position:-66px -70px; }
#nav .bg3:hover{ background-position:-132px -70px; }
#nav .bg4:hover{ background-position:-198px -70px; }
#nav .bg5:hover{ background-position:-264px -70px; }
#nav .bg6:hover{ background-position:-330px -70px; }
#nav .bg7:hover{ background-position:-396px -70px; }
#nav .bg8:hover{ background-position:-472px -70px; }
#nav .bg9:hover{ background-position:-538px -70px; }
#nav .bg10:hover{ background-position:-604px -70px; }

#search .bar { width:958px; height:64px; border-radius:5px; border:1px solid #c40d0e; background:#e21c01; position:absolute; left:-1px; top:16px; box-shadow:2px 3px 2px #dcdcdc; }
#search .menu{ position:relative; left:226px; top:-27px; }
#search .menu li{ float: left; width:78px; height:25px; text-align:center; font-size:14px; line-height:25px; border-radius:5px 5px 0 0; border:1px solid #f8d0bf; border-bottom:none; background:#fcfcfc; display:inline-block; margin-right:1px; color:#000; cursor:pointer; box-shadow:1px 0 2px rgba(0,0,0,0.15); } 
#search .menu .active{ position:absolute; top:-1px; width:78px; height:27px; background:#e21c01; font-weight:bold; color:#fbfbfb; text-shadow:2px 2px 3px rgba(0,0,0,0.25);} 

#search .form { position:absolute; left:226px; top:36px; z-index:3; }
#search .form .text { width:383px; height:20px; padding:0 10px; background:#fff1ef; color:#ea7a7a; border-radius:3px; border:1px solid #d8a59e; box-shadow:inset 1px 0 2px rgba(0,0,0,0.15); float:left; margin-right:10px; }
#search .form .btn { width:64px; height:26px; background:url(../img/search_img.png) no-repeat -160px 0; border:none;}
#search .img { position:absolute; left:34px; top:-3px; width:160px; height:122px; background:url(../img/search_img.png) no-repeat; z-index:2;}

#search .key_text { width:211px; height:44px; line-height: 22px; color:#fff;  position: absolute; top:26px; right:32px; }
#search .key_text a:hover { text-decoration: underline; }

#search .update { position:absolute; left:226px; top:82px; width:407px; height:30px; background:url("../img/search_img.png") no-repeat -226px 8px;}
#search .update .wrap { width:336px; height:30px; position:relative; left:60px; overflow: hidden; }
#search .update ul { width:336px; position: absolute; top: 0px; left: 0px; } 
#search .update li { height:30px; line-height:30px; }
#search .update a { color:#000; }
#search .update strong { font-weight: normal; color:#c40d0e; }
#search .update span { color: #999;}
#search .triangle_up { top: 8px; right: 0px; }
#search .triangle_down_red { top: 17px; right: 0px; }


.video_title { width:130px; height:42px; font-family: arial; font-size:18px; font-weight: normal; line-height:42px; color:#c40d0e; background:url("../img/video_bg.gif") no-repeat 95px 8px; position: relative; }
.video_title sup { font-family: '宋体'; position: absolute; top: -10px;}
.video_box { margin-bottom: 13px;}
.video .video_list { padding-left: 75px; height: 78px; background:url(../img/video_bg.gif) no-repeat 3px -47px;}
.video .video_list li { width:241px; height:20px; line-height: 20px; padding-left: 16px; background:url("../img/dot.gif") no-repeat 9px 10px; color:#4d4d4d; }
.video .video_list li a:hover { text-decoration: underline; }

.main_title { position: relative; height: 40px; line-height: 40px; }
.main_title strong, .nav li strong ,.login em { font-family: arial; color:#cc0d13; font-size: 12px;}
.main_title span, .nav li span { font-family: '微软雅黑'; color:#000;  }
.main_title  a { position: absolute; right: 0px; top: 15px; }
.main_title sup { position: absolute; top: -7px; left: 18px;}

.nav .triangle_down_red, .nav .triangle_down_gray { right: 12px; top: 15px;} 


.hot_list { padding-top: 15px; height: 369px; position: relative; }
.hot_list li{ margin-bottom: 6px; width: 318px; height: 108px; background:url(../img/content/hot_list_li_bg.gif); }
.hot_list .img { float: left; width: 106px; height: 86px; position: relative; }
.hot_list .img  .save { position: absolute; width: 42px; height: 43px; right: -10px ; bottom: -10px; }
.hot_list .img a { display: block; width: 104px; height: 84px;} 
.hot_list .img a:hover { border: 1px solid #999; }
.hot_list .text { float: right; width: 190px; }
.hot_list .text h3 { font-size: 12px; color: #bb0d0d; font-family: '微软雅黑'; height: 28px; line-height: 28px;}
.hot_list .text h3:hover { text-decoration: underline; }
.hot_list .text p { color: #6e6e6e; }
.hot_list .more { position: absolute; right: 0px; bottom: 6px; }


.tab { height: 25px; border-bottom: 1px solid #dadada; }
.tab ul { position: relative; margin-bottom: -1px; height: 26px; }
.tab ul li { float: left; height: 24px; border: 1px solid #dadada; border-radius: 4px 4px 0 0; margin-right: -1px; line-height: 24px; text-align: center; position: relative; }
.tab ul .active { color: #454545; font-weight: bold; border-bottom: 1px  solid #fff; }
.tab li a { top: 10px; right: 12px; }


.section .tab { padding: 0 10px; }
.section .tab li {  width: 98px; }
.side_section .tab { padding: 0 6px; }
.side_section .tab li { width: 66px; }


.list_section ul li{ border-top: 1px dotted #cbcbca; background:url(../img/dot.gif) no-repeat 7px 12px; height: 27px; line-height: 27px; vertical-align: middle; }
.list_section ul li a { float: left; color: #333; text-indent: 16px;}
.list_section ul li a:hover { text-decoration: underline; }
.list_section em { color: #c3c3c3; }
.list_section span { color: #c75d61; }

.list_section .title { border-top: none; background: none; color: #999; text-align: center; }
.list_section .col_1 , .list_section .col_2, .list_section .col_3 { float: left; } 
.side_section .col_1 { width: 138px; }
.side_section .col_2 { width: 35px;  text-align: center; color:red;}
.side_section .col_3 {  width: 36px; text-align: center;}
.side_section .title .col_2 { color:#999;}

.section .col_1 { width: 272px; }
.section .col_2 { width: 34px; }
.col_2 img { position: relative; top: 9px; left: 9px;}


.pic_list li { overflow: hidden; border-bottom: 1px dotted #cbcbca; padding-bottom: 10px; margin-top: 10px; }
.pic_list .img { width: 94px; height: 71px; border: 1px solid #dadada; }
.pic_list .img a { display: block; width: 90px; height: 67px; margin: 2px; }
.pic_list .img:hover { border: 1px solid #bb0d0d; }

.pic_list .text p { color: #999;  line-height: 18px; }
.pic_list .text h3 { color: #b80000; font-weight: normal; font-size: 12px; height: 18px; line-height: 18px; margin: 12px 0px 4px 0px;  }
.pic_list .text a { color: #666; }
.pic_list .text a:hover { text-decoration: underline; }

.wrap1 { margin-bottom: 12px; }
.wrap2 .pic_list li, .wrap3 .pic_list li { border-bottom: none; }
.wrap1 .pic_list .img, .wrap2 .pic_list .img { float: left; }
.wrap1 .pic_list .text, .wrap2 .pic_list .text { float: right; position: relative; left: -12px; }

.wrap3 .pic_list { overflow: hidden ; margin-bottom: 10px; }

.shop360 .img { width: 214px; height: 110px; }
.shop360 .textlink a { height: 18px; line-height: 18px; color:#333; }
.shop360 .textlink a:hover { text-decoration: underline; }
.shop360 .textlink { margin: 6px 0px 6px 0px;  }

.soso { height: 30px; margin-bottom: 18px;  width: 318px; padding: 12px 0px 0px 10px; border-top: 1px dotted #cbcbca; }
.soso strong { color: #595959; font-size: 12px; line-height: 30px; }
.soso .text { width: 180px; height:20px; color:#9c9c9c; font-size: 12px; border: 1px solid #9c9c9c; } 
.soso .btn { background:url(../img/btn.gif) no-repeat; width: 24px; height: 25px; border: none; position: relative; left: 4px; top: 6px;}


.login { height:138px; overflow:hidden; margin-bottom:10px; }
.login h2 { text-indent:12px; color:#000; font-size:12px; line-height:34px; border-bottom:1px solid #dbdbdb; }
.login .form { width:214px; padding:15px 0 2px;  border-bottom:1px solid #f2f2f2;  margin:0 auto; position:relative; }
.login li { height:26px; vertical-align:middle; }
.login li span, .login li input, .login li strong { float:left; }
.login span { float:left; width:58px; color:#595959; word-spacing:7px; }
.login .text { float:left; width:87px; height:17px; margin-right:3px; overflow:hidden; border:1px solid #dbdbdb; background:#f7f7f7; }
.login strong { font-weight:normal; padding-left:3px; }
.login .btn { width:54px; height:22px; border:none; background:#cb0000; color:#fff; font-family:'宋体'; font-size:12px; font-weight:bold; border-radius:10px; }
.login p { line-height:32px; text-align:center; word-spacing:20px; }
.login p a { padding-left:14px; background:url(../img/dot.gif) no-repeat 4px center; color:#666; }
.login p a:hover { text-decoration:underline; }

.bbs_list { margin-bottom: 20px; }
.bbs_list li { width: 318px; height: 30px; background: #f1f1f1; border-radius: 5px; margin-bottom: 3px; line-height: 30px; overflow: hidden; }

.bbs_list .active { height: 70px; background: #d90000; color: #fff; position: relative; }
.bbs_list .active img, .bbs_list .active em, .bbs_list .active b{ display: block; position: absolute; }
.bbs_list .active strong, .bbs_list .active span{ display: none; }
.bbs_list .active img { top: 10px; left: 10px; }
.bbs_list .active a { position: absolute; width: 170px; height: 20px; line-height: 20px; color: #fff; top: 15px; left: 70px; font-size: 16px; }
.bbs_list .active em { top: 40px; left: 70px; font-size: 12px; width: 100px; height: 14px; line-height: 14px; }
.bbs_list .active b { right: 6px; bottom: -7px; font-weight: bold; font-size: 20px; }

.bbs_list strong { color: #d80000; text-indent: 10px; float: left; width: 45px; height: 30px; }
.bbs_list img, .bbs_list em, .bbs_list b { display: none; }
.bbs_list a { color: #333; float: left; width: 120px; height: 30px; }
.bbs_list span { color: #666; float: right; margin-right: 22px; }

.help_con{ margin-bottom: 10px; overflow: hidden; }
.help_con p { text-indent: 30px; margin-bottom: 10px; }
.help_con ul { padding-bottom: 10px; border-bottom:1px solid #ededee; overflow: hidden; }
.help_con ul li { }
.help_con .phone { margin-left: 8px; background:url(../img/help.gif) no-repeat; height: 17px; width: 130px; color: #b80000; text-indent: 20px; font-size: 14px; font-weight: bold; }
.help_con .msn { background:url(../img/help.gif) no-repeat 0px -44px; height: 17px; color: #333; width: 130px; height: 17px; text-indent: 20px; padding-right: 15px; }
.help_con .user_help { padding:0px 10px; margin-top: 15px; }
.help_con .bus_help { padding:0px 30px; margin-top: 15px;}

.help_con dl { width:144px; padding:15px 0 0 10px; line-height:18px; }
.help_con dt { font-weight:bold; padding-bottom:8px; }
.help_con dd { background:url(../img/dot.gif) no-repeat 4px center; text-indent:12px; }
.help_con dd a { color:#333; }
.help_con dd a:hover { text-decoration:underline; }

.media_list { margin-bottom: 15px; }
.media_list li { overflow: hidden; }
.media_list img { float:left;}
.media_list a { float: left; width: 200px; height:40px; padding-left:30px; color: #292929; }
.media_list a:hover{ text-decoration: underline; }

.hot_pic { height: 258px;}
.hot_pic li { float: left; margin: 0px 2px 2px 0px; position: relative; }
.hot_pic p { width: 144px; height: 66px; background:rgba(0,0,0,0.5); position: absolute; top: 0px; left: 0px; color:#fff; padding: 12px 0px 0px 12px; }
.hot_pic img { width: 78px; height: 78px; }
.hot_pic .area1, .hot_pic .area1 img { width: 156px; height: 78px; }
.hot_pic .area2 { width: 77px; height: 78px; }


.activity, .recommend{ width: 348px;  height:498px;}
.new_title { width: 348px; height: 70px; background:url(../img/new_title_bg.gif) no-repeat right 0px; position: relative; overflow: hidden; }
.new_title span { float:left;  color: #ea2b31; position: absolute; top: 22px; left: 25px; font-weight: bold; }
.new_title em { float:left;  font-size: 22px; color: #333; position: absolute; top: 35px; left: 25px; }
.new_title strong { float:left; font-size: 35px; color: #ec1c16; position: absolute; top: 19px; left: 127px; }

.recommend .new_title { background-position: right -70px; }


.activity .con { background:url(../img/activity_bg.gif) no-repeat; }
.info { padding: 14px 24px 24px 18px; overflow: hidden; }
.info .img { width: 86px; height: 86px; position: relative; float: left; }
.info .mask { background:url(../img/activity_bg.gif) no-repeat right 0px; width: 84px; height: 84px; display: block; position: absolute; z-index: 2;}
.info .img img { position: absolute; top: 0px; left: 0px; }

.info .text { float: right; width: 210px; }
.info .text h3 { height:32px; font-size:12px; }
.info .text em { float: left; margin-right: 4px; width: 25px; height: 25px; background:url(../img/activity_bg.gif) no-repeat -348px 0px; font-size: 14px; font-family: arial; text-align: center; color: #d41913; line-height: 25px;  }
.info .text span { color: #333; text-indent: 4px;  float: left; padding-top: 5px; }
.info .text p { color: #999; line-height: 18px;  }


.calendar { width:323px; padding-left:25px; position:relative; }
.calendar h3 { height:34px; line-height:34px; text-align:center; margin-right:31px; background:url(../img/adorn.gif)  repeat-x; word-spacing:10px; }
.calendar h3 span { font-size:14px; font-family:arial; color:#666; }
.calendar ol li { float: left; width: 40px; height: 40px; margin-right: 2px; margin-bottom: 2px; background: #ededed; text-align: center; line-height: 40px; position: relative; }
.calendar .normal { background:#f8f8f8; color:#ccc; }
.calendar .active, .calendar .img { position:absolute; top:0; left:0; }
.calendar .active { width:36px; height:36px; border:2px solid #d30408; cursor:pointer; }
.calendar .img { width:40px; height:40px; cursor:pointer; }

.today_info { width:294px; height:84px; padding:10px; border:1px solid #c0c0c0; background:#fff; position:absolute; top:136px; left:288px; box-shadow:4px 4px 0 rgba(0,0,0,0.2); display: none; }
.today_info img { width:80px; height:80px; border:2px solid #dbdbdb; float:left; }
.today_info .text { width:200px; float:right; }
.today_info h4 { font-size:12px; color:#333; padding-bottom:8px; }
.today_info strong { color:#ccc; font-size:18px; vertical-align:middle; }
.today_info p { color:#999; line-height:20px; }
.today_info span { width:8px; height:14px; overflow:hidden; position:absolute; top:45px; left:-8px; background:url(../img/adorn.gif) no-repeat 0 -48px; }